# git 忽略的文件

# CMakeFiles 目录
CMakeFiles/

# 静态库文件
*.a

# CMake 文件
*.cmake
CMakeLists.txt

# Makefile 文件
Makefile

# 混合工作负载
YCSB-C/

# 基准测试日志文件
Log/

# vscode 目录
.vscode/

# 主程序
main.cpp

# 备份文件
*copy*
*-a*

# 可执行程序
nvmkv
